In [2]:
# Import package pandas for data analysis
# Set to display enough columns
import pandas as pd
pd.set_option('display.max_columns', 100)

# Import package numpy for numeric computing
import numpy as np

# Import package matplotlib for visualisation/plotting
import matplotlib.pyplot as plt
import matplotlib.patches as mpatches

# Import to allow PDF of multiple pages
from matplotlib.backends.backend_pdf import PdfPages

# Import Seaborn for visualistaion library
import seaborn as sns

#For showing plots directly in the notebook run the command below
%matplotlib inline

In [4]:
# Read in csv file
df = pd.read_csv('05-13-03-19_results.csv')

In [6]:
# Check how many rows and columns the dataframe has
print ('The file has', df.shape[0], 'rows and', df.shape[1], 'columns')

The file has 163005 rows and 13 columns

In [8]:
df.head(5)

,Blessington Street,Dublin,BLESSINGTON STREET,2019-03-05 00:05:08,-6.26814000,53.35676900,OPEN,14,0,6,2,20,1
0,Blessington Street,Dublin,BLESSINGTON STREET,2019-03-05 00:15:17,-6.26814,53.356769,OPEN,14,0,6,2,20,1
1,Blessington Street,Dublin,BLESSINGTON STREET,2019-03-05 00:25:26,-6.26814,53.356769,OPEN,14,0,6,2,20,1
2,Blessington Street,Dublin,BLESSINGTON STREET,2019-03-05 00:32:29,-6.26814,53.356769,OPEN,14,0,6,2,20,1
3,Blessington Street,Dublin,BLESSINGTON STREET,2019-03-05 00:42:39,-6.26814,53.356769,OPEN,14,0,6,2,20,1
4,Blessington Street,Dublin,BLESSINGTON STREET,2019-03-05 00:52:48,-6.26814,53.356769,OPEN,14,0,6,2,20,1

In [10]:
# Check data types
df.dtypes

Blessington Street      object
Dublin                  object
BLESSINGTON STREET      object
2019-03-05 00:05:08     object
-6.26814000            float64
53.35676900            float64
OPEN                    object
14                       int64
0                        int64
6                        int64
2                        int64
20                       int64
1                        int64
dtype: object

Date and time will need to be seperated in to columns. One for hours, one for minutes and one for day of the week. Make three new columns.